.main-table {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 5px;
  background: #ffffff;

  @media (max-width: 768px) {
    overflow-x: auto;
  }

  &__row {
    display: flex;
    align-items: center;
    padding: 15px 24px;
    transition: all .3s;
    @media (max-width: 768px) {
      min-width: 1000px;
    }

    a {
      color: #184F71;
      text-decoration: underline;
      text-decoration-color: #89C2E5;
      font-size: 14px;
      @include opensans-semibold;
      &:hover {
        text-decoration-color: #184F71;
      }
    }


    &:not(:last-child) {
      border-bottom: 1px solid #E1E1E1;
    }

    &.main-table__title-row {
      .main-table__cell {
        @include opensans-medium;
        font-size: 14px;
      }
    }


  }

  &__cell {
    width: 100%;
    flex: 1 1 auto;
    @include opensans-regular;
    font-size: 14px;
    line-height: 1.1;

    &:not(:last-child) {
      padding-right: 10px;
    }

  }

}
