.reg-form {

  .grid-row {
    @media (max-width: 1280px) {
      grid-template: 1fr / 1fr;
    }
  }

  &__desc {
    font-size: 20px;
    line-height: 1.3;
    margin-bottom: 45px;
    position: relative;
  }

  &__prompt {
    font-size: 20px;
    line-height: 1.3;
    padding: 20px 22px;
    background: #F2F1F7;
    border-radius: 5px;
    margin-bottom: 40px;

    a {
      color: #CC1746;
    }
  }

  &__inputs-row {
    margin-bottom: 36px;
    &._dates {
      display: flex;
      flex-wrap: wrap;
      gap: 24px;
      .reg-form__input {
        max-width: 246px;
      }
    }
  }

  &__input {
    &._sm {
      max-width: 130px;
    }

    label {
      display: block;
      font-size: 30px;
      margin-bottom: 5px;

      @media (max-width: 768px) {
        font-size: 20px;
        margin-bottom: 2px;
      }
    }

    .main-input {
      //&:invalid {
      //  border-color: #CC1746;
      //}
      padding: 17px 19px;
      @media (max-width: 768px) {
        font-size: 20px;
        padding: 10px 15px;
      }
    }
  }

  &__input-desc,
  &__select-desc,
  &__input-warning {
    margin-top: 10px;
    font-size: 20px;
    line-height: 1.15;

    @media (max-width: 768px) {
      font-size: 16px;
      margin-top: 5px;
    }
  }

  &__code-input-wrapper {
    position: relative;
    .main-input {
      padding-right: 200px;
      @media (max-width: 768px) {
        padding-right: 105px;
        font-size: 16px;
      }
    }
    button {
      position: absolute;
      right: 15px;
      font-size: 20px;
      top: 50%;
      transform: translateY(-50%);
      padding: 0 16px;
      height: 40px;
      background-color: #F2F1F7;
      border-radius: 5px;
      @media (max-width: 768px) {
        font-size: 12px;
        height: 35px;
        padding: 0 5px;
        right: 10px;
      }
    }
  }


  &__options {
    margin-top: 52px;
    margin-bottom: 55px;
    li {
      &:not(:last-child) {
        margin-bottom: 29px;
      }
    }
  }
  &__submit-btn {
    font-size: 37px;
    margin-top: 50px;
    color: #ffffff;
    padding: 18px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #CC1746;
    border-radius: 3px;
    transition: all .3s;

    @media (max-width: 768px) {
      padding: 14px 18px;
      font-size: 25px;
    }

    &:hover {
      background-color: #E00A4C;
    }
  }

}
