.reg-modal {
  position: fixed;
  max-height: 95vh;
  overflow-y: auto;
  overflow-x: hidden;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 900px;
  border: 3px solid #CC1746;
  background-color: #ffffff;
  padding: 65px 46px 50px 50px;
  transition: all .2s;
  opacity: 0;
  visibility: hidden;

  @media (max-width: 1024px) {
    width: 85%;
    padding: 50px 20px 25px 20px;
  }

  &._active {
    opacity: 1;
    z-index: 999;
    visibility: visible;
  }

  h2 {
    color: #CC1746;
    text-align: center;
    line-height: 1.1;
    font-size: 50px;
    @include mls-regular;
    margin-bottom: 15px;

    @media (max-width: 768px) {
      font-size: 35px;
      margin-bottom: 25px;
    }

  }

  h3 {
    @include mls-regular;
    color: #000;
    text-align: center;
    font-size: 50px;
    margin-bottom: 35px;
    line-height: 1.1;

    @media (max-width: 768px) {
      font-size: 35px;
      margin-bottom: 20px;
    }
  }

  .reg-form__input {
    label {
      font-size: 20px;
      margin-bottom: 2px;
      @media (max-width: 768px) {
        line-height: 1.2;
        margin-bottom: 5px;
      }
    }

    .main-input {
      font-size: 20px;
      padding: 15px 15px;
      @media (max-width: 768px) {
        padding: 12px 8px;
      }
    }

    select.main-input {
      padding-right: 35px;
      background: url('data:image/svg+xml,<svg width="13" height="7" viewBox="0 0 13 7" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13 0L6.5 7L0 0H13Z" fill="black"/></svg>') no-repeat right 20px center;
    }
  }

  .reg-form__inputs-row {
    margin-bottom: 18px;
  }

  .main-checkbox {
    span {
      @media (max-width: 768px) {
        font-size: 18px;
      }
    }
  }

  .reg-form__options {
    margin-top: 20px;
    margin-bottom: 30px;

    .option-tmpl {
      @media (max-width: 768px) {
        label {
          font-size: 20px;
          line-height: 1.2;
        }
        .reg-form__input .main-input {
          font-size: 20px;
        }
      }


    }

    .option-tmpl._group .reg-form__inputs-row-group {
      grid-template: auto / 1.2fr 1.5fr 0.3fr;
      @media(max-width: 1280px) {
        grid-template: 1fr / 1fr;
      }
    }
  }

  .reg-form__submit-btn-wrapper {
    display: flex;
    justify-content: center;
    padding-top: 49px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: -50px;
      background: url('../img/modal-bg.png');
      width: 111.5%;
      height: 9px;
      z-index: 20;
      @media (max-width: 1024px) {
        left: 0;
        width: 100%;
      }
    }

    .reg-form__submit-btn {
      margin-top: 0;
      width: 100%;
    }
  }

  .reg-form__options .option-tmpl._group .generate-tmpl__content {
    margin-top: 40px;
  }

  .reg-form__code-input-wrapper button {
    font-size: 15px;
    height: 35px;
    padding: 0 20px;
    right: 10px;
    @media (max-width: 768px) {
      max-width: 53px;
      font-size: 10px;
      line-height: 1.1;
      padding: 0 2px;
      right: 5px;
    }
  }


}
