// Страница всех событий
.events-page {
  padding-top: 88px;
  padding-bottom: 307px;

  &__title {
    font-weight: 400;
    font-size: 83px;
    line-height: 102px;
    margin-bottom: 28px;
  }

  .events-item {
    max-width: 1200px;
    padding: 52px 90px 47px 56px;
    border: 1px solid #000000;
    border-radius: 5px;

    &_bg {
      background: #F2F1F7;
      border: none;
    }

    &__title {
      font-weight: 400;
      font-size: 65px;
      line-height: 74px;
      margin-bottom: 32px;
    }

    .common-slider {
      margin-bottom: 30px;
    }


    &__text {
      margin-bottom: 30px;
    }

    &__organizers-title {
      font-size: 20px;
      line-height: 25px;
      color: #A2A1AD;
      margin-bottom: 10px;
    }


    &__btn {
      display: inline-block;
      font-size: 28px;
      line-height: 34px;
      color: #000000;
      cursor: pointer;
      background: none;
      padding: 15px 30px;
      border: 1px solid #000000;
      border-radius: 5px;
      transition: all .3s;

      &:hover {
        color: $secondary;
        border: 1px solid $secondary;
      }
    }

  }

  .events-item:not(:last-child) {
    margin-bottom: 25px;
  }


}
