.time-line {
  margin-top: 40px;
  margin-bottom: 70px;

  &__slider {
    overflow: hidden;
    position: relative;
    padding: 0 20px;

    p {
      font-size: 17px;
      line-height: 21px;
    }

    .time-line__slider-button-prev {
      left: -10px
    }

    .time-line__slider-button-next {
      right: -10px
    }
  }

  .swiper-slide {
    cursor: pointer;
  }

  &__item-title {
    color: $secondary;
  }
}

.caption {
  margin-bottom: 80px;

  &__slider {
    overflow: hidden;
    position: relative;

    .swiper-slide {
      display: flex;

    }

    .caption__slider-button-prev,
    .caption__slider-button-next {
      width: 46px;
      height: 46px;
      transform: translate(0, 0);
      top: 0;
    }

    .caption__slider-controllers {
      position: absolute;
      right: 31%;
      bottom: 0;
      width: 116px;
      height: 46px;
      z-index: 10;
    }

    .caption__slider-button-prev {
      left: 0;
    }

    .caption__slider-button-next {
      right: 0;
    }


  }

  &__slider-img {
    padding-top: 32%;
    min-width: 57%;
    position: relative;
    margin-right: 67px;
    align-self: flex-start;
    cursor: pointer;

    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      border-radius: 5px;
    }
  }

  &__slider-content {
    max-width: 40%;
  }

  &__slider-title {
    padding-top: 10px;
    font-weight: 400;
    font-size: 70px;
    line-height: 74px;
    width: 91%;
    margin-bottom: 35px;
  }

  &__slider-text {
    font-size: 22px;
    width: 84%;
    padding-bottom: 60px;
  }


}

.organizers {
  margin-bottom: 140px;

  &__title {
    margin-bottom: 40px;
  }

  &__slider {
    overflow: hidden;
    position: relative;
    padding: 0 10px;

    .organizers__slider-button-prev {
      left: -15px
    }

    .organizers__slider-button-next {
      right: -15px
    }

  }

  .swiper-slide {
    cursor: pointer;
  }

  &__slider-img {
    padding-top: 56%;
    position: relative;

    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }

}

.news {
  margin-bottom: 110px;

  &__title {
    margin-bottom: 36px;

    a {
      font-size: 23px;
      line-height: 28px;
      color: $secondary;
    }
  }

  &__slider {
    overflow-x: hidden;
    position: relative;
    padding: 0 10px;

    .news__slider-button-next,
    .news__slider-button-prev {
      top: 33%;
    }

    .news__slider-button-prev {
      left: -15px
    }

    .news__slider-button-next {
      right: -15px
    }
  }

  .swiper-slide {
    cursor: pointer;
    position: relative;

    &:hover .news__slide-title {
      color: $secondary;
    }
  }

  &__slider-img {
    padding-top: 56%;
    position: relative;
    margin-bottom: 16px;

    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }

  &__slide-title {
    font-size: 25px;
    line-height: 26px;
    margin-bottom: 31px;
    min-height: 52px;
    transition: all .3s;
  }

  &__slide-date {
    font-size: 20px;
    line-height: 25px;
    color: #A2A1AD;
  }

}

.program {
  margin-bottom: 120px;

  &__top {
    display: flex;
    align-items: flex-end;
    margin-bottom: 53px;
  }

  &__title {
    margin-right: 90px;
  }

  &__date-btns {
    display: flex;
  }

  &__date-btn {
    border: none;
    background-color: #000000;
    padding: 11px 35px;
    font-size: 31px;
    line-height: 39px;
    color: #FFFFFF;
    cursor: pointer;

    &:first-child {
      border-radius: 5px 0 0 5px;
    }

    &:last-child {
      border-radius: 0 5px 5px 0;
    }

    &._active {
      background-color: $secondary;
      transform: scale(1.1);
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__booklet {
    background-color: #F2F1F7;
    border-radius: 5px;
    position: relative;
    width: 435px;
    min-width: 435px;
    padding: 85px 0 0 0;
    min-height: 925px;
    margin-right: 40px;

    @media (max-width: 768px) {
      min-width: 100%;
    }
  }

  &__booklet-date {
    color: $secondary;
    font-size: 94px;
    line-height: 80px;
    text-align: center;
  }

  &__booklet-month {
    color: $secondary;
    font-size: 68px;
    line-height: 34px;
    text-align: center;
  }

  &__booklet-year {
    color: $secondary;
    font-size: 108px;
    line-height: 130px;
    text-align: center;
    margin-bottom: 20px;
  }

  &__booklet-address {
    max-width: 350px;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    margin: 0 auto 55px;
  }

  &__booklet-img {
    position: absolute;
    bottom: -57px;
    left: 50%;
    width: 100%;
    height: 484px;
    transform: translateX(-50%);
  }

  &__lists {
    width: 67%;
    display: none;

    &._active {
      display: block;
    }
  }

  &__list {
    max-width: 980px;

    li {
      margin-bottom: 25px;
      display: flex;
    }
  }

  &__list-time {
    min-width: 140px;
  }

  &__list:first-child {
    margin-bottom: 75px;
  }

  &__lists-title {
    font-size: 30px;
    line-height: 37px;
    color: #CC1746;
    margin-bottom: 30px;
  }

  &__list-text {
    max-width: 770px;
  }

  &__list-dash {
    @include myriad-regular;
    margin: 0 25px 0 18px;
  }
}

.events {
  margin-bottom: 90px;

  &__title {
    margin-bottom: 20px;

    a {
      font-size: 23px;
      line-height: 28px;
      color: $secondary;
    }
  }

  .tab-item {
    display: none;

    &._active {
      display: block;
    }
  }

  .event-content-wrapper {
    display: flex;
    gap: 20px;

    @media (max-width: 950px) {
      flex-direction: column;
      gap: 0px;
    }
  }

  &__inner {
    background-color: #F2F1F7;
    border-right: 5px;
    padding: 42px 70px 55px 50px;
    margin-bottom: 35px;

    .events-btns {
      display: flex;
      gap: 40px;

      margin-bottom: 20px;

      @media (max-width: 850px) {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
      }

      button {
        @include mls-regular;
        font-size: 20px;
        line-height: 1.2;
        color: $secondary;
        padding: 10px 0px 0px 0px;
        border-bottom: 2px dashed $secondary;

        &._active {
          border: none;
          color: $primary;
        }
      }
    }
  }

  &__inner-content {
    max-width: 55%;
    margin-right: 30px;

    display: flex;
    flex-direction: column;
    padding-top: 20px;
  }


  &__inner-title {
    font-weight: 400;
    font-size: 50px;
    line-height: 1.2;
    margin-bottom: 25px;

    max-width: 505px;
  }

  &__inner-sign {
    color: #A2A1AD;
    margin-bottom: 28px;
  }

  &__inner-text {
    font-size: 24px;
    margin-bottom: 20px;
  }

  &__inner-link {
    font-size: 37px;
    line-height: 45px;
    color: $secondary;
    position: relative;
    transition: all .3s;
    display: inline-block;
    margin-bottom: 20px;

    svg {
      path {
        transition: all .3s;
      }
    }

    &:hover {
      color: #E00A4C;
    }

    &:hover svg path {
      fill: #E00A4C;
    }
  }

  &__inner-btn {
    margin-top: 20px;
    width: max-content;
  }

  &__inner-img {
    position: relative;
    width: 645px;
    padding-top: 42%;

    img {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
    }
  }

  &__slider {
    overflow-x: hidden;
    position: relative;
    padding: 0 10px;

    .events__slider-button-next,
    .events__slider-button-prev {
      top: 40%;
    }

    .events__slider-button-prev {
      left: -15px
    }

    .events__slider-button-next {
      right: -15px
    }
  }

  .swiper-slide {
    cursor: pointer;
    position: relative;

    .events__slide-title {
      transition: all .3s;
    }

    &:hover .events__slide-title {
      color: $secondary;
    }
  }

  &__slider-img {
    padding-top: 56%;
    position: relative;
    margin-bottom: 16px;

    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.home-registration {
  margin-bottom: 80px;

  h3 {
    font-size: 70px;
    line-height: 1.15;
    @include mls-regular;
    margin-bottom: 30px;

    @media (max-width: 768px) {
      font-size: 45px;
      text-align: center;
    }
  }

  &__inner {
    border: 3px solid #CC1746;
    padding: 60px 350px 70px 105px;
    background: no-repeat 96% url("../img/reg-bg.jpg");
    position: relative;

    @media (max-width: 1680px) {
      padding: 70px 250px 70px 50px;
    }

    @media (max-width: 768px) {
      background: none;
      padding: 40px 20px 40px 20px;
    }
  }

}

.sponsors {
  margin-bottom: 110px;

  &__title {
    margin-bottom: 40px;
  }

  &__slider {
    overflow: hidden;
    position: relative;
    padding: 0 10px;

    .sponsors__slider-button-prev {
      left: -15px
    }

    .sponsors__slider-button-next {
      right: -15px
    }

  }

  .swiper-slide {
    cursor: pointer;
  }

  &__slider-img {
    padding-top: 56%;
    position: relative;

    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.placing {
  margin-bottom: 100px;

  &__title {
    margin-bottom: 30px;
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;

  }

  p {
    width: 35%;
    margin-right: 80px;
    margin-bottom: 30px;
    font-size: 22px;
    line-height: 31px;
  }
}

.navigation {
  margin-bottom: 72px;

  &__title {
    margin-bottom: 30px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 51px;

  }

  &__list-item {
    padding: 33px 85px 40px 38px;
    background-color: #e1e0e8;
    border-radius: 5px;
    width: 49.5%;
    cursor: pointer;
    transition: all .3s;

    &._active {
      background-color: #F2F1F7;
      outline: 1px solid #b8b8b9;
    }
  }

  &__item-title {
    font-size: 30px;
    line-height: 37px;
    margin-bottom: 5px;
  }

  &__item-text {
    font-size: 22px;
    line-height: 27px
  }

  &__map {
    width: 100%;
  }
}
