.turnstile-scan-page {
  &__connect-gate-btn {
    margin-bottom: 10px;
    text-align: center;
    font-size: 22px;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    color: #ffffff;
    background: #27A327;
  }
}
