<template id="homeStates">
  <div class="home-registration__state" data-state="1">
    <p class="home-registration__select-desc">Посетитель — гость. Полный доступ ко
      всем
      забавам и некоторым состязаниям</p>
    <div class="home-registration__state-row">
      <div class="home-registration__input">
        <label>Имя посетителя*</label>
        <input class="main-input" type="text"
               placeholder="Имя или имя и отчество" name="name"
               required>
        <p class="home-registration__input-desc">Чтобы мы знали, как к Вам
          обращаться</p>
      </div>
      <div class="home-registration__input">
        <label>Номер телефона*</label>
        <input class="main-input" type="text"
               placeholder="+7 (999) 999-99-99" name="phone"
               data-custom-mask="+7 (999) 999-99-99" required>
        <p class="home-registration__input-desc">На этот номер поступит СМС со ссылкой
          на билет</p>
      </div>
      <div class="home-registration__input">
        <label>Город*</label>
        <input class="main-input" type="text"
               placeholder="Или населенный пункт" name="city" required>
        <p class="home-registration__input-desc">Прославьте свой родной край!</p>
      </div>
    </div>
  </div>
  <div class="home-registration__state" data-state="2">
    <p class="home-registration__select-desc">Вы представляете сразу
      группу посетителей.
      Нужно указать имя самого главного в группе.</p>
    <div class="home-registration__half-row">
      <div
        class="home-registration__input home-registration__count-persons-input">
        <label>Количество участников*</label>
        <input class="main-input persons-mask" type="text"
               placeholder="от 2 до 99" name="count_persons"
               required>
      </div>
      <div class="home-registration__input home-registration__name-director-input">
        <label>Имя и фамилия руководителя коллектива*</label>
        <input class="main-input" type="text"
               placeholder="Имя и фамилия или ФИО" name="name"
               required>
      </div>
    </div>
    <p class="home-registration__input-desc _out-row">Чтобы мы знали, как
      к Вам
      обращаться</p>
    <div class="home-registration__half-row">
      <div class="home-registration__input">
        <label>Тип коллектива*</label>
        <div class="home-registration__select-wrapper">
          <select class="main-input" name="type_group">
            <option value="1">Группа студентов</option>
            <option value="2">Делегация</option>
            <option value="3">Дружеская компания</option>
            <option value="4">Музыкальная группа</option>
            <option value="5">Самодеятельность</option>
            <option value="6">Семья</option>
            <option value="7">Танцевальная группа</option>
            <option value="8">Фольклорная группа</option>
            <option value="9">Школьный класс</option>
            <option value="10">Другое</option>
          </select>
        </div>
      </div>
      <div class="home-registration__input">
        <label>Название коллектива</label>
        <input class="main-input" type="text"
               placeholder="На кириллице или латинице"
               name="name_group">
        <p class="home-registration__input-desc">Если есть. Это
          необязательно.</p>
      </div>
    </div>

    <div class="home-registration__half-row">
      <div class="home-registration__input">
        <label>Номер телефона*</label>
        <input class="main-input" type="text"
               placeholder="+7 (999) 999-99-99" name="phone"
               data-custom-mask="+7 (999) 999-99-99" required>
        <p class="home-registration__input-desc">На этот номер
          поступит СМС со ссылкой
          на билет</p>
      </div>
      <div class="home-registration__input">
        <label>Город*</label>
        <input class="main-input" type="text"
               placeholder="Или населенный пункт" name="city"
               required>
        <p class="home-registration__input-desc">Прославьте свой
          родной край!</p>
      </div>
    </div>

  </div>
</template>
