html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 340px;
  overflow-x: hidden;
  position: relative;
  @include mls-regular;
  font-size: 25px;
  line-height: 31px;
  color: $primary;

  &._lock {
    overflow-y: hidden;
  }
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
}

img {
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
}

main {
  flex-grow: 1;
  min-height: calc(100vh - 364px);
}

button {
  cursor: pointer;
  background: none;
  border: none;
}

select::-ms-expand {
  display: none;
}

.site-container {
  position: relative;
  overflow: hidden;
}

.container {
  max-width: 1680px;
  padding: 0 15px;
  margin: 0 auto;
}

button[data-close-modal] {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
  background: none;
  border: none;

  path {
    transition: all .3s;
  }

  &:hover path {
    fill: #CC1746;
  }
}

.modal {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    width: 0;
  }
}

.hidden {
  display: none !important;
}

h2.secondary-title {
  font-weight: 400;
  font-size: 45px;
  line-height: 55px;
}

h2.primary-title {
  font-weight: 400;
  font-size: 83px;
  line-height: 102px;
}

.btn {
  padding: 20px 40px;
  border: none;
  cursor: pointer;
  background-color: $secondary;
  color: #FFFFFF;
  font-size: 37px;
  border-radius: 5px;
  transition: all .3s;

  &:hover {
    background-color: #E00A4C;;
  }
}

.swiper-button-disabled {
  cursor: auto !important;
  pointer-events: none !important;
  opacity: 0.7 !important;
}

.slider-btn-prev,
.slider-btn-next {
  position: absolute;
  background: none;
  border: none;
  padding: 0;
  top: 50%;
  z-index: 20;
  transform: translateY(-50%);
  cursor: pointer;

  .slider-arrow {
    transition: all .3s;
  }

  &:hover .slider-arrow {
    fill: $secondary;
  }
}


.slider-btn-prev {
  left: -5px;
}

.slider-btn-next {
  right: -5px;
}

.air-datepicker-body--day-name {
  color: #817D8C;
  @include mls-regular;
  font-size: 16px;
  line-height: 20px;
  text-transform: lowercase;
}

.air-datepicker-cell.-day- {
  @include montserrat-medium;
  font-size: 19px;
  line-height: 23px;
  color: #000000;
}

.date-custom-container {
  z-index: 9999;
  position: absolute;
  left: 0;
  top: 0;
}

[class*="popup._position_top"] {
  display: none !important;
}

.processing-personal {
  color: #DB5D7E;
  text-decoration: underline;
}

.main-input {
  color: #000;
  font-size: 30px;
  @include mls-regular;
  padding: 15px 19px;
  border: 1px solid #000000;
  width: 100%;

  &::placeholder {
    color: #A2A1AD;
  }

  &._pass {
    background: url('data:image/svg+xml,<svg width="62" height="11" viewBox="0 0 62 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.37 4.14141L7.52 5.79141L10.37 7.44141L9.35 9.24141L6.47 7.59141V10.8914H4.4V7.59141L1.55 9.24141L0.5 7.44141L3.35 5.79141L0.5 4.14141L1.55 2.34141L4.4 3.99141V0.691406H6.47V3.99141L9.35 2.34141L10.37 4.14141Z" fill="%23A2A1AD"/><path d="M23.2313 4.14141L20.3813 5.79141L23.2313 7.44141L22.2113 9.24141L19.3313 7.59141V10.8914H17.2613V7.59141L14.4113 9.24141L13.3613 7.44141L16.2113 5.79141L13.3613 4.14141L14.4113 2.34141L17.2613 3.99141V0.691406H19.3313V3.99141L22.2113 2.34141L23.2313 4.14141Z" fill="%23A2A1AD"/><path d="M36.0927 4.14141L33.2427 5.79141L36.0927 7.44141L35.0727 9.24141L32.1927 7.59141V10.8914H30.1227V7.59141L27.2727 9.24141L26.2227 7.44141L29.0727 5.79141L26.2227 4.14141L27.2727 2.34141L30.1227 3.99141V0.691406H32.1927V3.99141L35.0727 2.34141L36.0927 4.14141Z" fill="%23A2A1AD"/><path d="M48.954 4.14141L46.104 5.79141L48.954 7.44141L47.934 9.24141L45.054 7.59141V10.8914H42.984V7.59141L40.134 9.24141L39.084 7.44141L41.934 5.79141L39.084 4.14141L40.134 2.34141L42.984 3.99141V0.691406H45.054V3.99141L47.934 2.34141L48.954 4.14141Z" fill="%23A2A1AD"/><path d="M61.8153 4.14141L58.9653 5.79141L61.8153 7.44141L60.7953 9.24141L57.9153 7.59141V10.8914H55.8453V7.59141L52.9953 9.24141L51.9453 7.44141L54.7953 5.79141L51.9453 4.14141L52.9953 2.34141L55.8453 3.99141V0.691406H57.9153V3.99141L60.7953 2.34141L61.8153 4.14141Z" fill="%23A2A1AD"/></svg>') no-repeat 20px 50%;
    &:focus {
      background: none;
    }
    &._no-bg {
      background: none;
    }
  }
}

.number-mask, .persons-mask {
  text-align: left !important;
}

.qr-scanner {
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px dashed #A2A2A2 !important;
  min-height: 250px;
  min-width: 280px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img {
    display: none !important;
  }

  #html5-qrcode-anchor-scan-type-change {
    display: none !important;
  }

}

.i4ewOd-pzNkMb-haAclf {
  opacity: 0 !important;
  display: none !important;
}
