@import "vars";
@import "fonts";
@import "settings";

.time-line {
  margin-top: 40px;
  margin-bottom: 70px;

  &__slider {
    overflow: hidden;
    position: relative;
    padding: 0 20px;

    p {
      font-size: 17px;
      line-height: 21px;
    }

    .time-line__slider-button-prev {
      left: -10px
    }

    .time-line__slider-button-next {
      right: -10px
    }
  }

  .swiper-slide {
    cursor: pointer;
  }

  &__item-title {
    color: $secondary;
  }
}

.caption {
  margin-bottom: 80px;

  &__slider {
    overflow: hidden;
    position: relative;

    .swiper-slide {
      display: flex;

    }

    .caption__slider-button-prev,
    .caption__slider-button-next {
      width: 46px;
      height: 46px;
      transform: translate(0, 0);
      top: 0;
    }

    .caption__slider-controllers {
      position: absolute;
      right: 31%;
      bottom: 0;
      width: 116px;
      height: 46px;
      z-index: 10;
    }

    .caption__slider-button-prev {
      left: 0;
    }

    .caption__slider-button-next {
      right: 0;
    }


  }

  &__slider-img {
    padding-top: 32%;
    min-width: 57%;
    position: relative;
    margin-right: 67px;
    align-self: flex-start;
    cursor: pointer;

    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      border-radius: 5px;
    }
  }

  &__slider-content {
    max-width: 40%;
  }

  &__slider-title {
    padding-top: 10px;
    font-weight: 400;
    font-size: 70px;
    line-height: 74px;
    width: 91%;
    margin-bottom: 35px;
  }

  &__slider-text {
    font-size: 22px;
    width: 84%;
    padding-bottom: 60px;
  }


}

.organizers {
  margin-bottom: 140px;

  &__title {
    margin-bottom: 40px;
  }

  &__slider {
    overflow: hidden;
    position: relative;
    padding: 0 10px;

    .organizers__slider-button-prev {
      left: -15px
    }

    .organizers__slider-button-next {
      right: -15px
    }

  }

  .swiper-slide {
    cursor: pointer;
  }

  &__slider-img {
    padding-top: 56%;
    position: relative;

    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }

}

.news {
  margin-bottom: 110px;

  &__title {
    margin-bottom: 36px;

    a {
      font-size: 23px;
      line-height: 28px;
      color: $secondary;
    }
  }

  &__slider {
    overflow-x: hidden;
    position: relative;
    padding: 0 10px;

    .news__slider-button-next,
    .news__slider-button-prev {
      top: 33%;
    }

    .news__slider-button-prev {
      left: -15px
    }

    .news__slider-button-next {
      right: -15px
    }
  }

  .swiper-slide {
    cursor: pointer;
    position: relative;

    &:hover .news__slide-title {
      color: $secondary;
    }
  }

  &__slider-img {
    padding-top: 56%;
    position: relative;
    margin-bottom: 16px;

    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }

  &__slide-title {
    font-size: 25px;
    line-height: 26px;
    margin-bottom: 31px;
    min-height: 52px;
    transition: all .3s;
  }

  &__slide-date {
    font-size: 20px;
    line-height: 25px;
    color: #A2A1AD;
  }

}

.program {
  margin-bottom: 120px;

  &__top {
    display: flex;
    align-items: flex-end;
    margin-bottom: 53px;
  }

  &__title {
    margin-right: 90px;
  }

  &__date-btns {
    display: flex;
  }

  &__date-btn {
    border: none;
    background-color: #000000;
    padding: 11px 35px;
    font-size: 31px;
    line-height: 39px;
    color: #FFFFFF;
    cursor: pointer;

    &:first-child {
      border-radius: 5px 0 0 5px;
    }

    &:last-child {
      border-radius: 0 5px 5px 0;
    }

    &._active {
      background-color: $secondary;
      transform: scale(1.1);
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__booklet {
    background-color: #F2F1F7;
    border-radius: 5px;
    position: relative;
    width: 435px;
    min-width: 435px;
    padding: 85px 0 0 0;
    min-height: 925px;
    margin-right: 40px;
  }

  &__booklet-date {
    color: $secondary;
    font-size: 94px;
    line-height: 80px;
    text-align: center;
  }

  &__booklet-month {
    color: $secondary;
    font-size: 68px;
    line-height: 34px;
    text-align: center;
  }

  &__booklet-year {
    color: $secondary;
    font-size: 108px;
    line-height: 130px;
    text-align: center;
    margin-bottom: 20px;
  }

  &__booklet-address {
    max-width: 350px;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    margin: 0 auto 55px;
  }

  &__booklet-img {
    position: absolute;
    bottom: -57px;
    left: 50%;
    width: 100%;
    height: 484px;
    transform: translateX(-50%);
  }

  &__lists {
    width: 67%;
    display: none;

    &._active {
      display: block;
    }
  }

  &__list {
    max-width: 980px;

    li {
      margin-bottom: 25px;
      display: flex;
    }
  }

  &__list-time {
    min-width: 140px;
  }

  &__list:first-child {
    margin-bottom: 75px;
  }

  &__lists-title {
    font-size: 30px;
    line-height: 37px;
    color: #CC1746;
    margin-bottom: 30px;
  }

  &__list-text {
    max-width: 770px;
  }

  &__list-dash {
    @include myriad-regular;
    margin: 0 25px 0 18px;
  }
}

.events {
  margin-bottom: 90px;

  &__title {
    margin-bottom: 20px;

    a {
      font-size: 23px;
      line-height: 28px;
      color: $secondary;
    }
  }


  &__inner {
    background-color: #F2F1F7;
    border-right: 5px;
    padding: 65px 70px 55px 54px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
  }

  &__inner-content {
    max-width: 55%;
    margin-right: 30px;
  }


  &__inner-title {
    font-weight: 400;
    font-size: 70px;
    line-height: 74px;
    margin-bottom: 45px;
  }

  &__inner-sign {
    color: #A2A1AD;
    margin-bottom: 35px;
  }

  &__inner-text {
    font-size: 24px;
    margin-bottom: 20px;
  }

  &__inner-link {
    font-size: 37px;
    line-height: 45px;
    color: $secondary;
    position: relative;
    transition: all .3s;
    display: inline-block;
    margin-bottom: 20px;

    svg {
      path {
        transition: all .3s;
      }
    }

    &:hover {
      color: #E00A4C;
    }

    &:hover svg path {
      fill: #E00A4C;
    }
  }

  &__inner-btn {
    margin-top: 20px;
  }

  &__inner-img {
    position: relative;
    width: 645px;
    padding-top: 42%;

    img {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
    }
  }

  &__slider {
    overflow-x: hidden;
    position: relative;
    padding: 0 10px;

    .events__slider-button-next,
    .events__slider-button-prev {
      top: 40%;
    }

    .events__slider-button-prev {
      left: -15px
    }

    .events__slider-button-next {
      right: -15px
    }
  }

  .swiper-slide {
    cursor: pointer;
    position: relative;

    .events__slide-title {
      transition: all .3s;
    }

    &:hover .events__slide-title {
      color: $secondary;
    }
  }

  &__slider-img {
    padding-top: 56%;
    position: relative;
    margin-bottom: 16px;

    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.sponsors {
  margin-bottom: 110px;

  &__title {
    margin-bottom: 40px;
  }

  &__slider {
    overflow: hidden;
    position: relative;
    padding: 0 10px;

    .sponsors__slider-button-prev {
      left: -15px
    }

    .sponsors__slider-button-next {
      right: -15px
    }

  }

  .swiper-slide {
    cursor: pointer;
  }

  &__slider-img {
    padding-top: 56%;
    position: relative;

    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.placing {
  margin-bottom: 100px;
  &__title {
    margin-bottom: 30px;
  }
  &__inner {
    display: flex;
    flex-wrap: wrap;

  }

  p {
    width: 35%;
    margin-right: 80px;
    margin-bottom: 30px;
    font-size: 22px;
    line-height: 31px;
  }
}

.registration {
  margin-bottom: 80px;

  &__inner {
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 80px 230px 86px 108px;
    background: no-repeat 96% url("../img/reg-bg.jpg");
    position: relative;
  }

  &__success-modal {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: #fff no-repeat 96% url("../img/reg-bg.jpg");
    z-index: -1;
    visibility: hidden;
    opacity: 0;
    transition: all .3s;
    padding: 150px 215px 200px 108px;

    h2 {
      font-weight: 400;
      font-size: 73px;
      line-height: 90px;
      color: $secondary;
      margin-top: 100px;
    }

    &._active {
      z-index: 999;
      visibility: visible;
      opacity: 1;
    }
  }

  &__title {
    font-weight: 400;
    font-size: 83px;
    line-height: 102px;
    color: $secondary;
    margin-bottom: 30px;
  }

  &__instruction {
    margin-bottom: 30px;
    max-width: 90%;

    p {
      margin-bottom: 10px;
    }
  }


  .reg-form {
    &__wrapper {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      max-width: 1208px;
    }

    &__input {
      border: 1px solid #000000;
      outline: none;
      width: 32%;
      font-size: 31px;
      line-height: 38px;
      color: #000000;
      padding: 15px 13px 15px 17px;
      margin-bottom: 20px;

      &::placeholder {
        font-size: 31px;
        line-height: 38px;
        color: #000000;
      }

      &:focus {
        border: 1px solid $secondary;
      }
    }

    .reg-form__date-wrapper {
      position: relative;
      margin-bottom: 30px;
      width: 32%;

      input {
        width: 100%;
        margin-bottom: 0;
      }

      svg {
        position: absolute;
        right: 18px;
        top: 50%;
        pointer-events: none;
        transform: translateY(-50%);
      }
    }

    .reg-form__select {
      position: relative;
      width: 32%;
      margin-bottom: 20px;

      select {
        cursor: pointer;
        margin: 0;
        width: 100%;
      }

      &::after {
        content: '';
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        width: 19px;
        height: 13px;
        pointer-events: none;
        background: url("../img/select-arrow.png") no-repeat;
      }
    }

    &__btn {
      margin-top: 50px;
      display: block;
    }

    &__consent {
      max-width: 1055px;
      margin-top: 32px;
      margin-bottom: 40px;

      input {
        padding: 0;
        height: initial;
        width: initial;
        margin-bottom: 0;
        display: none;
        cursor: pointer;
      }

      label {
        display: flex;
        justify-content: space-between;
        position: relative;
        cursor: pointer;
        font-size: 17px;
        line-height: 21px;

        &::before {
          content: '';
          -webkit-appearance: none;
          background-color: transparent;
          align-self: flex-start;
          margin-right: 15px;
          border: 1px solid #000000;
          padding: 9px;
          display: inline-block;
          position: relative;
          cursor: pointer;
        }
      }

      input:checked + label:after {
        content: '';
        display: block;
        position: absolute;
        top: 5px;
        left: 5px;
        width: 10px;
        height: 10px;
        background-color: $secondary;
      }
    }
  }

  .reg-form .reg-form__event-select {
    width: 66%;
  }


}

.navigation {
  margin-bottom: 72px;

  &__title {
    margin-bottom: 30px;
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 51px;
  }

  &__list-item {
    padding: 33px 85px 40px 38px;
    background-color: #F2F1F7;
    border-radius: 5px;
    width: 33%;
  }

  &__item-title {
    font-size: 30px;
    line-height: 37px;
    margin-bottom: 5px;
  }

  &__item-text {
    font-size: 22px;
    line-height: 27px
  }

  &__map {
    width: 100%;
  }

}

.feedback {
  margin-bottom: 83px;

  &__title {
    margin-bottom: 40px;
  }

  &__success-modal {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: #fff no-repeat 96% url("../img/reg-bg.jpg");
    z-index: -1;
    visibility: hidden;
    opacity: 0;
    transition: all .3s;
    padding: 55px 215px 150px 80px;

    h2 {
      font-weight: 400;
      font-size: 60px;
      line-height: 70px;
      color: $secondary;
      margin-top: 30px;
    }

    &._active {
      z-index: 999;
      visibility: visible;
      opacity: 1;
    }
  }


  &__inner {
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 45px 230px 56px 103px;
    background: no-repeat 96% url("../img/reg-bg.jpg");
    position: relative;
  }

  .contact-form {
    &__inner {
      display: flex;
    }

    &__info {
      width: 390px;
      margin-right: 20px;
    }

    &__input {
      border: 1px solid #000000;
      outline: none;
      width: 100%;
      font-size: 31px;
      line-height: 38px;
      color: #000000;
      padding: 15px 17px;

      &::placeholder {
        font-size: 31px;
        line-height: 38px;
        color: #000000;
      }

      &:focus {
        border: 1px solid $secondary;
      }
    }

    &__input:not(:last-child) {
      margin-bottom: 20px;
    }

    &__question {
      width: 61%;

      textarea {
        border: 1px solid #000000;
        resize: none;
        height: 100%;
        width: 100%;
        padding: 18px 18px;
        font-size: 30px;
        line-height: 38px;
        outline: none;

        &::placeholder {
          font-size: 30px;
          line-height: 38px;
          color: #000000;
        }

        &:focus {
          border: 1px solid $secondary;
        }
      }
    }

    &__consent {
      max-width: 1055px;
      margin-top: 32px;
      margin-bottom: 40px;

      input {
        padding: 0;
        height: initial;
        width: initial;
        margin-bottom: 0;
        display: none;
        cursor: pointer;
      }

      label {
        display: flex;
        justify-content: space-between;
        position: relative;
        cursor: pointer;
        font-size: 17px;
        line-height: 21px;

        &::before {
          content: '';
          -webkit-appearance: none;
          background-color: transparent;
          align-self: flex-start;
          margin-right: 15px;
          border: 1px solid #000000;
          padding: 9px;
          display: inline-block;
          position: relative;
          cursor: pointer;
        }
      }

      input:checked + label:after {
        content: '';
        display: block;
        position: absolute;
        top: 5px;
        left: 5px;
        width: 10px;
        height: 10px;
        background-color: $secondary;
      }
    }
  }
}

// Страница всех новостей
.news-page {
  margin-top: 88px;
  margin-bottom: 143px;

  &__title {
    font-weight: 400;
    font-size: 83px;
    line-height: 102px;
    margin-bottom: 28px;
  }

  .news-item {
    max-width: 1200px;
    padding: 43px 90px 47px 56px;
    border: 1px solid #000000;
    border-radius: 5px;

    &_bg {
      background: #F2F1F7;
      border: none;
    }

    &__date {
      font-size: 20px;
      line-height: 25px;
      margin-bottom: 20px;
      color: #A2A1AD;
    }

    &__title {
      font-weight: 400;
      font-size: 65px;
      line-height: 74px;
      margin-bottom: 38px;
    }

    &__text {
      margin-bottom: 30px;
    }

    &__tags {
      display: flex;
      margin-bottom: 52px;

      li {
        margin-right: 20px;
      }

      a {
        cursor: pointer;
        font-size: 20px;
        line-height: 25px;
        text-decoration-line: underline;
        color: #DB5D7E;
        transition: all .3s;

        &:hover {
          color: $secondary;
        }
      }
    }

    &__btn {
      display: inline-block;
      font-size: 28px;
      line-height: 34px;
      color: #000000;
      cursor: pointer;
      background: none;
      padding: 15px 30px;
      border: 1px solid #000000;
      border-radius: 5px;
      transition: all .3s;

      &:hover {
        color: $secondary;
        border: 1px solid $secondary;
      }
    }

  }

  .news-item:not(:last-child) {
    margin-bottom: 25px;
  }
}

// Страница отдельной новости
.separate-news {
  padding-top: 85px;
  padding-bottom: 145px;

  &__date {
    font-size: 20px;
    line-height: 25px;
    color: #A2A1AD;
    margin-bottom: 20px;
  }

  &__title {
    font-weight: 400;
    font-size: 65px;
    line-height: 74px;
    max-width: 1060px;
    margin-bottom: 40px;
  }

  &__inner {
    display: flex;
    margin-bottom: 70px;
  }

  &__content {
    width: 67%;
    margin-right: 130px;
  }

  &__content-item:not(:last-child) {
    margin-bottom: 30px;
  }

  &__content {
    .separate-news__content-img {
      max-height: 535px;
      position: relative;
      padding-top: 49%;
      margin-top: 60px;
      margin-bottom: 55px;

      img {
        border-radius: 5px;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
      }
    }
  }


  &__content-item p {
    font-size: 22px;
    line-height: 31px;
  }

  &__top-item p {
    font-size: 25px;
  }

  &__tags {
    min-width: 190px;

    li {
      margin-bottom: 20px;
    }
  }

  &__tags a {
    font-size: 20px;
    line-height: 25px;
    text-decoration-line: underline;
    color: #DB5D7E;
    cursor: pointer;
    transition: all .3s;

    &:hover {
      color: $secondary;
    }
  }


  &__link {
    font-size: 23px;
    line-height: 28px;
    color: #CC1746;
    cursor: pointer;
    transition: all .3s;
    position: relative;

    svg {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: -40px;
    }

    .separate-news__arrow-icon {
      transition: all .3s;
    }

    &:hover {
      color: #E00A4C;
    }

    &:hover .separate-news__arrow-icon {
      fill: #E00A4C;
    }
  }
}

// Страница всех событий
.events-page {
  padding-top: 88px;
  padding-bottom: 307px;

  &__title {
    font-weight: 400;
    font-size: 83px;
    line-height: 102px;
    margin-bottom: 28px;
  }

  .events-item {
    max-width: 1200px;
    padding: 52px 90px 47px 56px;
    border: 1px solid #000000;
    border-radius: 5px;

    &_bg {
      background: #F2F1F7;
      border: none;
    }

    &__title {
      font-weight: 400;
      font-size: 65px;
      line-height: 74px;
      margin-bottom: 32px;
    }

    &__text {
      margin-bottom: 30px;
    }

    &__organizers-title {
      font-size: 20px;
      line-height: 25px;
      color: #A2A1AD;
      margin-bottom: 10px;
    }

    &__organizers-list {
      display: flex;
      width: 77%;
      justify-content: space-between;
      margin-bottom: 36px;

      li {
        max-width: 144px;
        margin-right: 10px;
      }
    }

    &__btn {
      display: inline-block;
      font-size: 28px;
      line-height: 34px;
      color: #000000;
      cursor: pointer;
      background: none;
      padding: 15px 30px;
      border: 1px solid #000000;
      border-radius: 5px;
      transition: all .3s;

      &:hover {
        color: $secondary;
        border: 1px solid $secondary;
      }
    }

  }

  .events-item:not(:last-child) {
    margin-bottom: 25px;
  }


}

//Страница отдельного события

.separate-event {
  padding-top: 85px;
  padding-bottom: 122px;

  &__date {
    font-size: 20px;
    line-height: 25px;
    color: #A2A1AD;
    margin-bottom: 20px;
  }

  &__title {
    font-weight: 400;
    font-size: 65px;
    line-height: 74px;
    max-width: 1060px;
    margin-bottom: 45px;
  }

  &__info {
    display: flex;
    margin-bottom: 48px;
  }

  &__info-date {
    margin-right: 80px;
  }

  &__date-title,
  &__place-title {
    font-size: 20px;
    line-height: 25px;
    color: #A2A1AD;
    margin-bottom: 5px;
  }

  &__date-text,
  &__place-text {
    font-size: 22px;
    line-height: 27px;
    color: #CC1746;
  }

  &__inner {
    display: flex;
    margin-bottom: 90px;
  }

  &__content {
    width: 67%;
    margin-right: 130px;
  }

  &__content-item:not(:last-child) {
    margin-bottom: 30px;
  }

  &__content {
    .separate-event__content-img {
      max-height: 535px;
      position: relative;
      padding-top: 49%;
      margin-top: 60px;
      margin-bottom: 42px;

      img {
        border-radius: 5px;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
      }
    }
  }


  &__content-item p {
    font-size: 22px;
    line-height: 31px;
  }

  &__top-item p {
    font-size: 25px;
  }

  &__right-info {
    max-width: 175px;
  }


  &__organizers {
    margin-top: 30px;

    li {
      margin-bottom: 36px;
    }

    p {
      font-size: 20px;
      line-height: 22px;
      color: #A2A1AD;
    }
  }


  &__tags {
    min-width: 190px;
    margin-top: -10px;
    margin-bottom: 100px;

    li {
      margin-bottom: 20px;
    }
  }

  &__tags a {
    font-size: 20px;
    line-height: 25px;
    text-decoration-line: underline;
    color: #DB5D7E;
    cursor: pointer;
    transition: all .3s;

    &:hover {
      color: $secondary;
    }
  }


  &__link {
    font-size: 23px;
    line-height: 28px;
    color: #CC1746;
    cursor: pointer;
    transition: all .3s;
    position: relative;

    svg {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: -40px;
    }

    .separate-event__arrow-icon {
      transition: all .3s;
    }

    &:hover {
      color: #E00A4C;
    }

    &:hover .separate-event__arrow-icon {
      fill: #E00A4C;
    }
  }
}


@import "./components/header";
@import "./components/footer";
@import "./components/scroll-top";
@import "./components/overlay";
@import "./components/reg-modal";
@import "media";
